/* Font della pagina impostato */
* {
  font-family: "Roboto", sans-serif;
}

/* Applicate le proprietà generali al body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

/* Lavorazione dell'Header */
.sfondo-header {
  background: #4ea0ff url("img-css/pattern.png");
  background-size: 20% 200%;
  margin-left: 0;
}

h1 {
  margin: 25px 0px 0px 0px;
  font-size: 50px;
}

.logo {
  margin: 40px 0px 10px 0px;
  width: 200px;
}

.date {
  font-size: smaller;
  font-weight: 400;
}

/* Fine lavorazione dell'Header */

/* Creazione Proprietà generali: */
.margin-left {
  margin-left: 8px;
}

.credits {
  color: rgb(135, 139, 139);
}

.blue-text {
  color: #2bade6;
}

.bold {
  font-weight: bold;
}

.desc {
  font-size: smaller;
}

.yellow-line {
  background-color: yellow;
}
/* Fine creazione Proprietà generali */

/* Sviluppo proprietà dei tag */
ul {
  padding: 0.5% 0px 0px 1%;
}

p {
  padding-top: 0.5%;
}

/* Lavorazione proprietà tabella */
table {
  border-collapse: collapse;
}

th {
  background-color: #20a9e5;
  text-align: left;
  color: white;
}

tbody {
  background-color: #b1e5f2;
}

.white-tr {
  background-color: white;
}

td {
  padding: 10px 200px 10px 0px;
}
/* Fine lavorazione proprietà tabella */
/* Fine sviluppo proprietà dei tag */

/* Lavorazione contenuti correlati e credits: */
.aside {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.zero {
  background: url("img-css/monitor.jpg") no-repeat;
  height: 170px;
  width: 210px;
  background-size: cover;
}

.one {
  background: url("img-css/graph.jpg") no-repeat;
  height: 170px;
  width: 210px;
  background-size: cover;
}

.hearts {
  color: red;
}
